* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  margin: 20px 0px;
  text-align: center;
}

.list{
  text-align: center;
  border-top: solid gray 2px;
  border-bottom: solid gray 2px;
}

.list-item{
  display: inline-block;
  margin: 15px 20px;
}

.main{
  width: 800px;
  height: 600px;
  margin: 50px auto;
}

/* .green{
  width: 200px;
  height: 200px;
  background-color: green;
}

.yellow{
  width: 200px;
  height: 200px;
  background-color: yellow;
} */

.main ul{
  font-size: 0;
}
.main li{
  list-style: none;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 0;
  
}

.green1{
  background-color: #e6ffe9;
}

.green2{
  background-color: #cbffd3;
}

.green3{
  background-color: #aeffbd;
}

.green4{
  background-color: #93ffab;
}

.yellow1{
  background-color: #f3ffd8;
}

.yellow2{
  background-color: #edffbe;
}

.yellow3{
  background-color: #e9ffa5;
}

.yellow4{
  background-color: #e4ff8d;
}

.blue1{
  background-color: #d9e5ff;
}

.blue2{
  background-color: #bad3ff;
}

.blue3{
  background-color: #a4c6ff;
}

.blue4{
  background-color: #8eb8ff;
}

footer{
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}